* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font: 11px Roboto!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.flex-rw li{
    padding-top: 0.5em;
    width: 100%;
    text-align: center;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex-rw table{
    width: 100%;

}

.td-up-head {
    width: 33.3%;
    font-size: 1.3em;
    color: white;
    padding-top: 1em;
    text-align: center;
}

.td-up{
    width: 33.3%;
    font-size: 1em;
    color: #8DB9ED;
}

.generic-anchor {
    color: #8DB9ED;
}
.generic-anchor:visited {
    color: #FF69B4;
}

.flex-rw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
/*
main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font: 10em Roboto!important;
    color: #9b9b9b;
    line-height: 1;
}*/

footer {
    background: #373737;
    margin-top: auto;
    width: 100%;
}


.footer-list-top {
    width: 100%;
    color: #8DB9ED;
}

.footer-list-header {
    color: #fff;
    font: 1vw Roboto;
}

.footer-list-anchor {
    font: 1em Roboto;
}

.footer-social-section {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
}

.footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid #ccc;
    width: calc(100% - 20px);
}

.footer-social-overlap {
    position: relative;
    z-index: 2;
    background: #373737;
    padding: 0 20px;
}

.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.footer-bottom-section > div:first-child {
    margin-right: auto;
}

.footer-bottom-wrapper {
    font-size: 1.3em;
    color: #fff;
}

.footer-address {
    display: inline;
    font-style: normal;
}

@media only screen and (max-width: 768px) {
    .footer-list-header {
        font-size: 2em;
    }

    .footer-list-anchor {
        font-size: 1.1em;
    }

    .footer-social-connect {
        font-size: 2.5em;
    }

    .footer-social-overlap > a {
        font-size: 2.24em;
    }

    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
}
@media only screen and (max-width: 568px) {
    main {
        font-size: 5em;
    }

    .footer-list-top {
        width: 100%;
    }

    .footer-list-header {
        font-size: 3em;
    }

    .footer-list-anchor {
        font-size: 1.5em;
    }


    .footer-bottom-section {
        padding: 0 5px 10px 5px;
    }

    .footer-bottom-wrapper {
        width: 100%;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 480px) {
    .footer-social-overlap > a {
        margin: auto;
    }

    .footer-social-overlap > a:not(:first-child) {
        margin-left: 0;
    }

    .footer-bottom-rights {
        display: block;
    }
}
@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em;
    }

    .footer-list-anchor {
        font-size: 1.2em;
    }

    .footer-social-connect {
        font-size: 2.4em;
    }

    .footer-social-overlap > a {
        font-size: 2.24em;
    }

    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
}

.navbar-nav {
    font-size: 1.5em!important;
}

.input-group-btn .btn {
    padding: 9px 12px;
}
